.main
{
    width: 1340px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    
}

.ff{
    font-family: 'Poppins2',sans-serif;
}
.s1
{
    margin-top: 31px;
    font-size: 40px;
    
}
.s2
{
    line-height: 30px;
    font-family: 'Poppins2', sans-serif;
    font-size: 15px;
}
.category
{
    float: right;
    font-family: 'Poppins', sans-serif;
}
.b
{
    height: 200px;
    width: 300px;
    margin-top: 72px;
    display: inline-block;
    margin-left: 43px;
}

.b2{
    height: 200px;
    width: 300px;
    display: inline-block;
    margin-top: 72px;
}

.get-j{
    font-size: 70px;
}

.text{
    font-size: 30px;
}

.main2
{
    margin-top: 100px;
}
.back
{
    background-image: url(background.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
}