.main
{
    width: 1380px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.ff{
    font-family: 'Poppins2',sans-serif;
}
.s1
{
    letter-spacing: 1px;
    margin-top: 31px;
    font-size: 40px;
    background: linear-gradient(180deg, rgba(235,4,14,1) 41%, rgba(14,23,114,1) 65%);
    -webkit-background-clip: text;
    color: transparent;
}
.s2
{
    line-height: 30px;
    font-family: 'Poppins2', sans-serif;
    font-size: 18px;
}
.category
{
    color: black;
    float: right;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}
.category:hover
{
    scale: 1.1;
    text-shadow: 0 0 1.5px rgb(255, 3, 3);
    cursor: pointer;
}

.icon
{
    background: linear-gradient(180deg, rgba(235,4,14,1) 41%, rgba(14,23,114,1) 65%);
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5s;
}
.icon:hover
{
    scale: 1.1;
    text-shadow: 0 0 2px rgb(0, 247, 255);
}

.b
{
    height: 200px;
    width: 300px;
    margin-top: 72px;
    display: inline-block;
    margin-left: 11.25px;
    transition: 0.5s;
    border: 2px ridge black;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.b:hover
{
    box-shadow: 0 0 10px orange;
    scale: 1.03;
    cursor: pointer;
}

.b2{
    height: 200px;
    width: 300px;
    display: inline-block;
    margin-top: 72px;
    transition: 0.5s;
    border: 2px ridge black;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.b2:hover
{
    box-shadow: 0 0 10px orange;
    scale: 1.03;
    cursor: pointer;
}


.get-j{
    font-size: 70px;
    letter-spacing: 1px;
    background: linear-gradient(180deg, rgba(235,4,14,1) 41%, rgba(14,23,114,1) 65%);
    -webkit-background-clip: text;
    color: transparent;
}

.text{
    font-size: 30px;
}
.google_play
{
    height: 52px;
    width: 170px; 
    margin-bottom: 100px;
    transition: 0.5s;
}
.google_play:hover
{
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0 0 10px orange;
}
.apple_store
{
    height: 52px; 
    width: 170px; 
    margin-left: 130px; 
    margin-bottom: 100px;
    transition: 0.5s;
}
.apple_store:hover
{
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0 0 10px orange;
}
.main2
{
    margin-top: 100px;
    height: 500px;
    width: 100%;
}
.back
{
    background-image: url(background.jpg);
    background-color: rgba(6, 6, 6, 0.438);
    background-blend-mode: multiply;
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
}

.ms1
{
    letter-spacing: 1px;
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 50px;
}
.ms2
{
    margin-top: 35px;
    margin-bottom: 35px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins2', sans-serif;
}

.mb1
{
    height: 240px;
    width: 170px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    margin: 15px;
    padding: 6px;
    transition: 0.3s;
}
.mb1:hover
{
    box-shadow: 0 0 15px rgb(0, 247, 255);
    scale: 1.1;
    cursor: pointer;
}

.mb2
{
    height: 310px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    margin: 15px;
    padding: 10px;
    transition: 0.3s;
}
.mb2:hover
{
    box-shadow: 0 0 15px rgb(0, 247, 255);
    scale: 1.1;
    cursor: pointer;
}

.mb3
{
    height: 380px;
    width: 230px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    margin: 15px;
    padding: 12px;
    transition: 0.3s;
}
.mb3:hover
{
    box-shadow: 0 0 15px rgb(0, 247, 255);
    scale: 1.1;
    cursor: pointer;
}

.imgg1
{
    height: 80px; 
    width: 80px; 
    margin-top: 25px; 
    border-radius: 70px;
    transition: 0.7s;
}
.imgg1:hover
{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 94, 0);
}

.star1
{
    padding-top: 8px;
    height: 13px;
    width: 80px;
}
.button_b1
{
    margin-top: -17px;
}
.button1
{
    height: 10px;
    font-size: 12px;
    background-color: rgb(140, 135, 135);
    border-radius: 18px;
    padding-top: 2px;
    padding-left: 13px;
    padding-bottom: 2px;
    padding-right: 13px;
    transition: 1s;
}
.button1:hover
{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 81, 0);
}

.button2
{
    height: 10px;
    font-size: 12px;
    background-color: rgb(140, 135, 135);
    border-radius: 18px;
    padding-top: 2px;
    padding-left: 13px;
    padding-bottom: 2px;
    padding-right: 13px;
    transition: 1s;
}
.button2:hover
{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 81, 0);
}

.imgg2
{
    height: 150px; 
    width: 150px; 
    margin-top: 25px; 
    border-radius: 100px;
    transition: 0.7s;
}
.imgg2:hover
{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 94, 0);
}

.star2
{
    padding-top: 8px;
    height: 17px;
    width: 110px;
}
.button_b2
{
    margin-top: -17px;
}
.button3
{
    height: 10px;
    font-size: 16px;
    background-color: rgb(140, 135, 135);
    border-radius: 18px;
    padding-top: 2px;
    padding-left: 13px;
    padding-bottom: 2px;
    padding-right: 13px;
    transition: 1s;
}
.button3:hover
{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 81, 0);
}

.button4
{
    height: 10px;
    font-size: 16px;
    background-color: rgb(140, 135, 135);
    border-radius: 18px;
    padding-top: 2px;
    padding-left: 13px;
    padding-bottom: 2px;
    padding-right: 13px;
    transition: 1s;
}
.button4:hover
{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 81, 0);
}
.imgg3
{
    height: 170px; 
    width: 170px; 
    margin-top: 25px; 
    border-radius: 100px;
    transition: 0.7s;
}
.imgg3:hover
{
    scale: 1.1;
    box-shadow: 0 0 12px rgb(255, 0, 0);
}

.star3
{
    padding-top: 10px;
    height: 17px;
    width: 110px;

}
.button_b3
{
    margin-top: -17px;
}
.button5
{
    height: 10px;
    font-size: 19px;
    background-color: rgb(140, 135, 135);
    border-radius: 18px;
    padding-top: 2px;
    padding-left: 13px;
    padding-bottom: 2px;
    padding-right: 13px;
    transition: 1s;
}
.button5:hover
{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.button6
{
    height: 10px;
    font-size: 19px;
    background-color: rgb(140, 135, 135);
    border-radius: 18px;
    padding-top: 2px;
    padding-left: 13px;
    padding-bottom: 2px;
    padding-right: 13px;
    transition: 1s;
}
.button6:hover
{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}
.main3
{
    width: 830px;
    margin: auto;
    margin-top: 300px;
    font-family: 'Poppins', sans-serif;
    /* background-color: aqua; */
}
.m3h
{
    background: linear-gradient(180deg, rgba(235,4,14,1) 41%, rgba(14,23,114,1) 65%);
    -webkit-background-clip: text;
    color: transparent;
}

.ls
{
    height: 110px; 
    width: 110px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 100px;
    transition: 0.5s;
}
.ls:hover
{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(255, 94, 0);
    cursor: pointer;
}
.lsm
{
    transition: 0.5s;
}
.lsm:hover
{
    scale: 1.1;
    box-shadow: 0 0 12px rgb(255, 0, 0);
    cursor: pointer;
}