body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    height: 250px;
    width: 250px;
    border: 5px double rosybrown;
    margin: auto;
    box-shadow: 4px 4px 3px red, 8px 8px 3px greenyellow;
    background-color: blueviolet;
    perspective: 1000px;
}
.shdw_text{
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
    color: blue;
    text-shadow: 4px 4px 3px red, 8px 8px 3px greenyellow;
    cursor: pointer;
}
.main:hover{
    height: 400px;
    width: 400px;   
    padding-top: 130px;
    background-color: darkturquoise;
    transform: rotate(90deg);
    transform-origin: right bottom;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}