body
{
    background-color: black;
}
.main
{
    margin: auto;
}
.p1
{
    margin: auto;
    margin-bottom: 16px;
    width: 1050px;
    height: 275px;
    background-color: #06a1a1;
}
.p3
{
    margin: auto;
    width: 1050px;
    height: 275px;
    background-color: #06a1a1;
}
.v1
{
    color: #efc089;
    font-size: 28px;
    font-family: 'Indie Flower';
}
.space
{
    background-color: bisque;
    font-size: 10px;
    height: 6px;
}
.p1 p
{
    font-size: 12px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding: 7px;
}
.p2
{
    margin: auto;
    margin-bottom: 16px;
    width: 1050px;
    height: 275px;
    background-color: #06a1a1;
}
.v2
{
    color: #efc089;
    font-size: 28px;
}
.space1
{
    background-color: bisque;
    font-size: 10px;
    height: 3px;
}
