body{
    display: grid;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-image: url(../Kaffen/images/category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "roboto-regular";
    src: url(../Kaffen/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face{
    font-family: "oswald-medium";
    src: url(../Kaffen/fonts/Oswald/Oswald-Medium.ttf);
}

@font-face{
    font-family: "merinda";
    src: url(../Kaffen/fonts/Merienda_One/MeriendaOne-Regular.ttf);
}

@font-face{
    font-family: "oswald-regular";
    src: url(../Kaffen/fonts/Oswald/Oswald-Regular.ttf);
}

:root{
    --dark: #090c0f;
    --text-brown: #b99272;
    --text-brown-transparent: #b9927220;
    --header-bg: #0E1317;
    --fade-white: #ffffff99;
    --oswald: "oswald-medium";
    --oswald-regular: "oswald-regular";
    --roboto: "roboto-regular";
    --merinda: "merinda";
    --lightdark: #9EA1A2;
    --light-black: #726e6e;

}

/* --------------------------------------------------------------------------------------------------------------------------------- */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px 850px 1200px;
    background-color: black;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

.r1 {
    background-color: black;
    padding: 0px 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.r1c1 {
    display: grid;
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: normal;
}

.r1c1r1 {
    color: #b99272;
}

.r1c2 {
    display: grid;
    grid-template-columns: 1fr repeat(4, 35px) 1fr;
    grid-template-rows: 1fr;
}

.r1c2i {
    color: white;
}

.r1c2i:hover {
    cursor: pointer;
}

.r1c3 {
    color: white;
    text-align: right;
    font-size: 14px;
}

.r1c3r1 {
    color: #b99272;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

.r2 {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #0e1317;
    padding: 0px 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;

}

.r2c1img {
    height: 40px;
    width: 130px;
}

.r2c2 {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr repeat(6, 100px) 1fr;
    grid-template-rows: 1fr;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.dropmenus {
    padding:25px 10px;
    text-decoration: none;
    color: white;
    transition: .9s;
}

.dropmenus:hover {
    color: #b99272;
}

.div-dropmenus {
    display: grid;
    align-items: center;
}

.drop-menus
{
    
    width: 200px;
    position: absolute;
    display: none;
    background-color: black;
    border-radius: 10px;
    top: 80px;
}
.drop-menus a
{
    padding:16px;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: left;
    transition: .9s;
}

.drop-menus a:hover{
    color: #b99272;
}

.drop-btn:hover .drop-menus
{
    display: block;
}

.r2c3 {
    display: grid;
    justify-content: end;
}

.book-table-button {
    height: 50px;
    width: 160px;
    border-radius: 6px;
    border: none;
    background-color: var(--text-brown);
    position: relative;
    z-index: 1;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.book-table-button::before{
    content: '';
    position: absolute;
    left: -10%;
    top: -50%;
    width: 120%;
    height: 120%;
    z-index: -1;
    background: #fff;
    -o-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    transition: all .7s cubic-bezier(.3, 0, .3, 1);
    -webkit-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    transform: translate3d(0,-100%,0) skew(-10deg,-10deg);
    -webkit-transform: translate3d(0,-100%,0) skew(-10deg,-10deg);
}

.book-table-button:hover{

    color: var(--text-brown);
}

.book-table-button:hover::before{
    top: -20%;
    transform: translate3d(0,0,0) skew(0,0);
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

.r3 {
    display: grid;
    grid-template-columns: 390px 600px 1fr;
    grid-template-rows: 1fr 100px 250px 250px 1fr;
    background-image: url(started_img_n6.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.199);
    background-blend-mode: multiply;
    position: relative;
}

.r3c2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 170px 30px 360px 150px 140px;
}

.r3c2r1
{
    display: grid;
    color: white;
    display: flex;
    align-items: center;
}

.r3c2r1 .line
{
    background-color: #b99272;
    height: 2px;
    width: 35px;

}

.r3c2r2 {
    line-height: ;
    font-size: 111px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.r3c2r3 {
    display: grid;
    grid-template-columns: 250px 350px;
    grid-template-rows: 1fr;
}

.r3c2r3button1 {
    height: 50px;
    width: 160px;
    border-radius: 6px;
    border: none;
    background-color: var(--text-brown);
    position: relative;
    z-index: 1;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    animation-delay: .5s;
}

.r3c2r3button1::before{
    content: '';
    position: absolute;
    left: -10%;
    top: -50%;
    width: 120%;
    height: 120%;
    z-index: -1;
    background: #fff;
    -o-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    transition: all .7s cubic-bezier(.3, 0, .3, 1);
    -webkit-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    transform: translate3d(0,-100%,0) skew(-10deg,-10deg);
    -webkit-transform: translate3d(0,-100%,0) skew(-10deg,-10deg);
}

.r3c2r3button1:hover{

    color: var(--text-brown);
}

.r3c2r3button1:hover::before{
    top: -20%;
    transform: translate3d(0,0,0) skew(0,0);
}

.r3c2r3button2 {
    height: 50px;
    width: 160px;
    left: -75px;
    border-radius: 6px;
    border: none;
    background-color: #0e1317;
    position: relative;
    z-index: 1;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    animation-delay: .5s;
}

.r3c2r3button2::before{
    content: '';
    position: absolute;
    left: -10%;
    top: -50%;
    width: 120%;
    height: 120%;
    z-index: -1;
    background: #fff;
    -o-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    transition: all .7s cubic-bezier(.3, 0, .3, 1);
    -webkit-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    transform: translate3d(0,-100%,0) skew(-10deg,-10deg);
    -webkit-transform: translate3d(0,-100%,0) skew(-10deg,-10deg);
}

.r3c2r3button2:hover{

    color: var(--text-brown);
}

.r3c2r3button2:hover::before{
    top: -20%;
    transform: translate3d(0,0,0) skew(0,0);
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

.r4{
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-rows: 800px 400px;
    background-color: var(--dark);
    grid-gap: 20px;
}

.r4r1{
    display: grid;
    grid-template-columns: 380px 550px 50px 600px 1fr;
    grid-template-rows: 1fr;
}

.Organic-coffee-img{
    padding: 130px 0;
}

.r4r1c2{
    display: grid;
    align-items: center;
}

.r4r1c2-aboutus{
    width: 500px;
    height: 600px;
    background-color: aqua;
    color: #b99272;
}