.body {
    display: grid;

}

* {
    margin: 0;
    top: 0;
    padding: 0;
}

.container {
    height: 2000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px 850px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.r1 {
    background-color: black;
    padding: 0px 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.r1c1 {
    display: grid;
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: normal;
}

.r1c1r1 {
    color: #b99272;
}

.r1c2 {
    display: grid;
    grid-template-columns: 1fr repeat(4, 35px) 1fr;
    grid-template-rows: 1fr;
}

.r1c2i {
    color: white;
}

.r1c2i:hover {
    cursor: pointer;
}

.r1c3 {
    color: white;
    text-align: right;
    font-size: 14px;
}

.r1c3r1 {
    color: #b99272;
}

.r2 {
    /* position: fixed; */
    background-color: #0e1317;
    padding: 0px 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;

}

.r2c1img {
    height: 40px;
    width: 130px;
}

.r2c2 {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr repeat(6, 100px) 1fr;
    grid-template-rows: 1fr;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.dropmenus {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: white;
    transition: .9s;
}

.dropmenus:hover {
    color: #b99272;
}

.div-dropmenus {
    display: grid;
    align-items: center;
}

.r2c3 {
    display: grid;
    justify-content: end;
}

.book-table-button {
    height: 50px;
    width: 160px;
    border-radius: 6px;
    border: none;
    background-color: #b99272;
}

.book-table-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.book-table-button:hover {
    cursor: pointer;
}

.r3 {
    display: grid;
    grid-template-columns: 390px 600px 1fr;
    grid-template-rows: 1fr 100px 250px 250px 1fr;
    background-image: url(started_img_n6.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.199);
    background-blend-mode: multiply;
    position: relative;
}

.r3c2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 360px 150px 140px;
}

.r3c2r2 {
    line-height: ;
    font-size: 111px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.r3c2r3 {
    display: grid;
    grid-template-columns: 250px 350px;
    grid-template-rows: 1fr;
}

.r3c2r3button1 {
    height: 50px;
    width: 160px;
    border-radius: 6px;
    background-color: #b99272;
    color: white;
    transition: .8s;
    border: none;
    font-weight: bold;
}

.r3c2r3button1:hover {
    cursor: pointer;
}

.r3c2r3button2 {
    margin-left: -75px;
    height: 52px;
    width: 160px;
    border-radius: 6px;
    background-color: #0e1317;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.r3c2r3button2:hover {
    cursor: pointer;
}