body
{
    margin: 0;
    top: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main
{
    height: 2000px;
    width: 100%;
    background-color: #efc38f;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    grid-template-rows: 70px 965px 800px;
}

.r1
{
    font-size: 20px;
    background-color: rgb(114, 36, 36);
    align-items: center;
    display: grid;
    grid-template-columns:500px repeat(5, 1fr) 500px;
    grid-template-rows: 1fr;
}
.r1c
{
    color: #efc38f;
    text-align: center;
    font-weight: 300;
    transition: 0.3s;
}

.r1c:hover
{
    color: white;
    font-weight: 500;
    scale: 1.1;
    text-shadow: 0 0 1.5px #ffffff;
    cursor: pointer;
}

.r2
{
    background-image: url(pexels-elle-hughes-1660030.jpg);
    background-color: rgba(0, 0, 0, 0.616);
    background-blend-mode: multiply;
    color: #efc38f;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    /* text-align: center; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 200px 200px 265px;
}

.button
{
    width: 270px;
    height: 50px;
    background-color: #efc38f;
    color: rgb(114, 36, 36);
    border-radius: 100px;
    font-size: 18px;
    text-align: center;
    border: none;
    transition: all 0.5s;
}

.button:hover
{
    scale: 1.04;
    box-shadow: 0 0 6px #ffffff;
    cursor: pointer; 
    background-color: rgb(114, 36, 36);
    color: #efc38f;
}

.con
{
    text-indent: 80px;  
}

.r3
{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 600px;
    text-align: center;
    align-items: center;
}

.r31
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 140px 200px;
    justify-items: center;
}

.r311
{
    display: flex;
    align-items: flex-end;
    font-size: 60px;
    font-weight: 800;
    color: rgb(114, 36, 36);
}

.r322
{
    font-size: 20px;
    color: rgb(114, 36, 36);
    margin: auto;
}

.r333 button
{
    width: 270px;
    height: 50px;
    background-color: rgb(114, 36, 36);
    color: #efc38f;
    border-radius: 100px;
    font-size: 18px;
    text-align: center;
    border: none;
    transition: all 0.5s;
}

.r333 button:hover
{
    scale: 1.04;
    box-shadow: 0 0 6px #ffffff;
    cursor: pointer; 
    background-color: rgb(114, 36, 36);
    color: #efc38f;
}
