.main
{
    height: 945px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

.r1
{
    background-color: brown;
    align-items: center;
    display: grid;
    grid-template-columns: 500px repeat(5, 1fr) 500px;
    grid-template-rows: 1fr;
}

.r1c
{
    color: white;
    text-align: center;
    font-weight: 700;
}